html { 
    background: #8b1010;
}

.top-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 250px;
    padding-right: 250px;
}

.nav-link {
    text-decoration: none;
    padding: 5px;
    margin: 0;
    font-size: 1.5em;
}

.left-link {
    color: #ff7272;
}

.right-link {
    color: #ffffff;
}

.logo-nav {
    margin: 0 auto;
    width: 25%;
    height: 25%;
    max-width: 100px;
    display: block;
}
.column {
    flex: 33.33%;
    height: 500px;
    padding: 10px;
    margin: 5px;
    background-color: #ffffff;
    text-align: center;
    margin-top: 100px;
    margin-left: 25px;
    margin-right: 25px;
  }
  
  .container {
    display: flex;
  }

