html { 
    background: #8b1010;
}

.top-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 250px;
    padding-right: 250px;
}

.nav-link {
    text-decoration: none;
    padding: 5px;
    margin: 0;
    font-size: 1.5em;
}

.left-link {
    color: #ff7272;
}

.center-link {
    color: #ff3030;
}

.right-link {
    color: #ffffff;
}

.logo-nav {
    margin: 0 auto;
    width: 25%;
    height: 25%;
    max-width: 100px;
    display: block;
}
.column {
    flex: 33.33%;
    height: 500px;
    padding: 10px;
    margin: 5px;
    background-color: #ffffff;
    text-align: center;
    margin-top: 100px;
    margin-left: 25px;
    margin-right: 25px;
  }
  
  .container {
    display: flex;
  }

  .table {
    padding-bottom: 20px;;
    padding-top: 5px;;
    margin: 0;
    font-size: 1.5em;
  }

  .table td {
    border: none;
    color: #8b1010;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
    text-align: left;
    padding-left: 50px;
  }

  .table2 {
    padding-bottom: 10px;
    padding-top: 5px;
    font-size: 1.5em;
  }

  .table2 td {
    border: none;
    color: #8b1010;
    padding-bottom: 40px;
    padding-top: 40px;
    padding-left: 75px;

  }

  .column h1 {
    color: #8b1010;
    margin-top: 0;
    padding: 0;
  }

  .column p {
    color: #8b1010;
    padding: 40px;
    font-size: 1em;
  }


  

