html { 
    background: #8b1010;
}

.top-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.nav-link {
    text-decoration: none;
    margin: 0;
    padding: 5px;
    font-size: 3em;
}

.left-link {
    color: #ff7272;
}

.right-link {
    color: #ffffff;
}

.container img {
    margin: 0 auto;
    width: 5%;
    height: 5%;
    max-width: 100px;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 40px;
    background: #8b1010;
    color: #ffffff;
}

content {
    font: #ffffff;
}

img {
    float: left;
    width: 25%;
    height: 25%;
}