html { 
    background: #8b1010;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.container a {
    text-decoration: none;
    color: #ff7272;
}

.container img {
    margin: 0 auto;
    width: 3%;
    height: 3%;
    max-width: 100px;
}

.container a {
    text-decoration: none;
    color: #ffffff;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 40px;
    padding: 40px;
    background: #8b1010;
    color: #ffffff;
}

content {
    font: #ffffff;
}

img {
    float: left;
    width: 25%;
    height: 25%;
}