html { 
    background: #8b1010;
    margin: 0 !important;
    padding: 0 !important;
}

.top-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 250px;
    padding-right: 250px;
}

.nav-link {
    text-decoration: none;
    padding: 5px;
    margin: 0;
    font-size: 1.5em;
}

.left-link {
    color: #ff7272;
}

.right-link {
    color: #ffffff;
}

.logo-nav {
    margin: 0 auto;
    width: 25%;
    height: 25%;
    max-width: 100px;
    display: block;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0 !important;
    background: #8b1010;
    color: #ffffff;
    margin-top: 60px;
}

.content-left {
    font: #ffffff;
    padding-left: 50px;
    margin-left: 50px;
    margin-right: 125px;
    width: calc(100% - 275px);
    font-size: 1.5em;
    margin-top: 60px;
}

img {
    float: left;
    width: 20%;
    height: 20%;
    margin-top: 60px;
    padding-left: 125px;
    margin-right: 25px;
}

.footers {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 50px;
}

.footer {
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.email-footer {
    text-align: center;
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

